h1 {
  text-transform: uppercase;
  text-align: center;
}

.container__calculator {
  border: 1px solid #333;
  width: 100%;
  height: 100%;
  background-color: #023047;
  border-radius: 10px;

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 1.2rem;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    margin-top: 10px;

    &__operator {
      background-color: #219ebc;
      &:hover {
        opacity: 0.9;
        transition: 0.2s all ease-in-out;
      }

      &__equal {
        background-color: #219ebc;
        grid-column: span 2;
      }
    }

    button {
      border: none;
      padding: 10px;
      margin: 0.2rem;
      font-size: 1.2rem;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
